<nav class="navbar sticky-top navbar-dark"style="background-color: #8B939D;">
                <a class="navbar-brand" href="/albums">Creative Music - Library</a>
                <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" style="color:white;" href="/albums">Albums</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color:white;" href="/add">Add Artist</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color:white;" href="/songsearch">Search</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color:white;" href="/login">Sign In</a>
  </li>
</ul>
         </nav>

         <center><h1 style="margin-top:200px;">Oops..something went wrong.</h1></center>
