 <nav class="navbar sticky-top navbar-dark"style="background-color: #8B939D;">
                <a class="navbar-brand" href="/albums">Creative Music - Library</a>
                <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" style="color:white;" href="/albums">Albums</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color:white;" href="/add">Add Artist</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" style="color:white;" href="/songsearch">Search</a>
  </li>
</ul>
         </nav>
         

<div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Artist</th>
      <th scope="col">Album</th>
      
    </tr>
  </thead>
  <tbody>

       {{#each Album}}
    <tr>
      <td name="artists">{{this.Artist.Name}}</td>
      <td name="albums">{{this.Title}}</td>
      {{/each}}

    </tr>
    
  </tbody>
</table>
</div>

<br>

