<nav class="navbar sticky-top navbar-dark"style="background-color: #8B939D;">
                <a class="navbar-brand" href="/albums">Creative Music - Library</a>
                <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" style="color:white;" href="/albums">Albums</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color:white;" href="/add">Add Artist</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" style="color:white;" href="/songsearch">Search</a>
  </li>
</ul>
         </nav>

<div style="margin:20px;">
    <a href="/songsearch" style="color:rgb(51, 108, 184);">Reset Search</a>
</div>

<div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Track Name</th>
      
    </tr>
  </thead>
  <tbody>
       {{#each reqTrack}}
    <tr>
      <td name="Name">{{Name}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>

<br>
